$mainBoxShadow: 5px 5px 11px rgba(0, 0, 0, 0.7);
$todoInputHeight: 40px;
$todoListHeight: 850px;
$todoListHeaderHeight: 30px;
$todoListContainerWidth: 550px;
$mainColor: rgba(245, 243, 233, 0.8);
$mainBorderRadius: 10px;

@mixin flexLayout($justify_content){
    display:flex;
    flex-wrap:wrap;
    justify-content: $justify_content;
}
@mixin hoverOrFocus{
    transition: 0.3s;
    opacity: 0.5;
    &:focus{
        transform:scale(1.03);
        opacity: 0.8;
    }
    &:hover{
        transform:scale(1.03);
        opacity: 0.8;
    }
}

body, html {
    margin: 0;
    width:100%;
    height:100%;
    font-family: 'Open Sans Condensed', sans-serif;
    #root{
        width:100%;
        height:100%;
        background-color: rgb(82, 2, 2);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        #appContainer{
            color: $mainColor; 
            .sideButtons{
                @include hoverOrFocus();
                font-size: 21px;
                border-right: 2px solid $mainColor;
                border-top: 2px solid $mainColor;
                border-bottom: 2px solid $mainColor;
                border-bottom-right-radius: $mainBorderRadius;
                border-top-right-radius: $mainBorderRadius;
                padding: 7px 10px 0 6px;
                box-shadow: $mainBoxShadow;
            }
            .green{
                color: rgba(12, 141, 12, 1);
                text-decoration: line-through;
            }
            .fadeIn{
                @keyframes changeOpacity{
                    from{ opacity: 0; }
                    to{  opacity:1; }
                }
                animation: changeOpacity 1s;
            }
            .displayInlineBlock{ display: inline-block !important; }
            .fullOpacity{ opacity: 1 !important; }
            .zeroOpacity{ opacity: 0 !important; }
            .rotate180{ transform: rotate(180deg); }
        }
    }
}

@import '../Components/Hour/Hour';
@import '../Components/QuoteOfTheDay/QuoteOfTheDay';
@import '../Components/News/News';
@import '../Components/Weather/Weather';
@import '../Components/Settings/Settings';
@import '../Components/TodoList/TodoList';
@import '../Components/GoogleSearch/GoogleSearch';
@import '../Components/Reminder/Reminder';
@import '../Components/LoadingSpinner/LoadingSpinner';