body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

body #root, html #root {
  width: 100%;
  height: 100%;
  background-color: #520202;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body #root #appContainer, html #root #appContainer {
  color: rgba(245, 243, 233, 0.8);
}

body #root #appContainer .sideButtons, html #root #appContainer .sideButtons {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
  font-size: 21px;
  border-right: 2px solid rgba(245, 243, 233, 0.8);
  border-top: 2px solid rgba(245, 243, 233, 0.8);
  border-bottom: 2px solid rgba(245, 243, 233, 0.8);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 7px 10px 0 6px;
  -webkit-box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.7);
}

body #root #appContainer .sideButtons:focus, html #root #appContainer .sideButtons:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 0.8;
}

body #root #appContainer .sideButtons:hover, html #root #appContainer .sideButtons:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 0.8;
}

body #root #appContainer .green, html #root #appContainer .green {
  color: #0c8d0c;
  text-decoration: line-through;
}

body #root #appContainer .fadeIn, html #root #appContainer .fadeIn {
  -webkit-animation: changeOpacity 1s;
          animation: changeOpacity 1s;
}

@-webkit-keyframes changeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body #root #appContainer .displayInlineBlock, html #root #appContainer .displayInlineBlock {
  display: inline-block !important;
}

body #root #appContainer .fullOpacity, html #root #appContainer .fullOpacity {
  opacity: 1 !important;
}

body #root #appContainer .zeroOpacity, html #root #appContainer .zeroOpacity {
  opacity: 0 !important;
}

body #root #appContainer .rotate180, html #root #appContainer .rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hour {
  font-size: 24px;
}

.hour h1, .hour h2 {
  width: 30%;
  margin-left: 69%;
  margin-top: 0;
  text-align: right;
}

.hour h2 {
  margin-bottom: 5px;
}

.hour h1 {
  margin-bottom: 0;
}

.quote {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.2em;
}

.news {
  width: 50%;
  position: absolute;
  right: 20px;
  top: 250px;
  text-align: right;
  font-size: 1.3em;
  color: white;
}

.news #description {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.news #doubleArrows {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news a {
  color: white;
  text-decoration: none;
}

.news a:hover {
  text-decoration: underline;
}

.news #publisher {
  font-weight: bold;
}

.weather {
  width: 100%;
  text-align: right;
  font-size: 19px;
}

.weather span {
  margin: 0 10px 0 10px;
}

.weather span:last-of-type {
  margin-right: 20px;
}

#settingsContainer {
  font-size: 24px;
  position: absolute;
  top: 92%;
  left: 96%;
}

#settingsContainer span {
  margin: 0 40px 0 0;
}

#settingsContainer span:hover {
  color: white;
}

.todoList {
  font-size: 20px;
  width: 550px;
  z-index: 3;
  position: absolute;
  top: 20px;
}

.todoList #list {
  /*Modify only transform and opacity to make the animation smooth af*/
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  height: 850px;
  width: 550px;
  background-color: rgba(243, 239, 224, 0.76);
  color: black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.7);
}

.todoList #list #input {
  margin: 45px;
  width: 80%;
  height: 40px;
  text-indent: 20px;
  outline: none;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.todoList #list #ulWrapper {
  overflow-y: auto;
  height: 712px;
}

.todoList #list #ulWrapper ul {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.todoList #list #ulWrapper ul li {
  padding-left: 5px;
}

.todoList #list #ulWrapper ul li .fas.fa-times {
  margin-right: 5px;
  font-size: 18px;
  color: rgba(255, 0, 0, 0.623);
}

.todoList #list #ulWrapper ul li .dateTime {
  margin-top: 4px;
  position: absolute;
  right: 40px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.4);
}

.todoList #list #ulWrapper ul li .fas.fa-check-circle {
  font-size: 19px;
  color: green;
  margin-top: 4px;
  margin-right: 10px;
  float: right;
}

.todoList #list #ulWrapper ul li #taskValue {
  margin-left: 15px;
}

.todoList #list #ulWrapper ul li:nth-child(odd) {
  background: rgba(245, 243, 233, 0.8);
}

.todoList #list #ulWrapper ul li, .todoList #list #ulWrapper ul li * {
  cursor: pointer;
}

.todoList #list #ulWrapper::-webkit-scrollbar {
  display: none;
}

.todoList #list h5 {
  text-align: center;
  height: 30px;
  font-size: 31px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  margin-top: 11px;
  margin-bottom: 11px;
}

.googleSearch {
  text-align: center;
}

.googleSearch #search {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
  outline: none;
  font-size: 15px;
  height: 38px;
  width: 537px;
  -webkit-box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding-left: 20px;
}

.googleSearch #search:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 0.8;
}

.googleSearch #search:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 0.8;
}

.reminder {
  font-size: 25px;
  position: absolute;
  top: 59px;
}

.reminder #reminderIcon {
  padding-top: 4px;
  padding-bottom: 4px;
}

.loadingSpinnerWrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loadingSpinnerWrapper .sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-animation: sk-chase 2.5s infinite linear both;
          animation: sk-chase 2.5s infinite linear both;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: sk-chase-dot 2.0s infinite ease-in-out both;
          animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(1) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(1):before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(2) {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(2):before {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(3):before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(4) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(4):before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(5) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(5):before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(6) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.loadingSpinnerWrapper .sk-chase .sk-chase-dot:nth-child(6):before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
          animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

@-webkit-keyframes sk-chase {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sk-chase {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-chase-dot {
  80%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%, 100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-chase-dot-before {
  50% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100%, 0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100%, 0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=App.css.map */