@mixin flexLayout($justify_content){
    display:flex;
    flex-wrap:wrap;
    justify-content: $justify_content;
}

#appContainer{
    height:100%;
    width:100%;
    margin:0;
    color: rgba(245, 243, 233, 0.7);
    #weatherContainer{
        @include flexLayout(center);
        width:100%;
        font-size:19px;
        span{
            margin:0 9px 0 9px;
        }
    }
    #hourContainer{
        @include flexLayout(center);
        font-size: 24px;
    }
    h1, h2{
        width:100%;
        text-align:center;
    }

    h1{
        margin-bottom:4px;
    }
    h2{
        margin-top:0;
    }
    #googleSearchContainer{
        text-align:center;
        margin-top: 200px;
        #search{
            outline:none;
            font-size: 22px;
            height:38px;
            width:537px;
            border-radius: 25px;
            padding-left: 20px;
            transition: 0.3s;
            &:focus{
                transform:scale(1.1, 1.1);
            }
        }
    }
}





